input{
  font-size: 120%;
  margin-top: 4%;
  margin-left: 10%;
  background-color: rgb(248, 244, 173);
}
button{
  font-size: 120%;
  margin-top: 4%;
  margin-left: 3%;

}
li{
  margin-left: 10%;
  font-size: 150%;
}
.main{
  background-color: rgb(185, 185, 248);
  margin-left: 5%;
  margin-right: 60%;
  margin-top: 2%;
  border: 2px solid black;
}